
        input, button{   
            
            height: 34px; 
            text-align: center;  

        }   
  
    .pagination {   
        display: flex;  
        align-items: center;
        justify-content: center;  
        background-color: green;
        
    }   
    .pagination a {   
        font-weight:bold;   
        font-size:18px;   
        color: black;   
        float: left;   
        padding: 8px 16px;   
        text-decoration: none;   
        border:1px solid black;  
        color: white;  
    }   
    .pagination a:active {   
        background-color: red;
    }   
    .pagination a:hover {   
        background-color: skyblue;
         
    }   